In [ ]:
Introduction to list datatype:

In [ ]:
Defination : a list is a conllection of item declared in a particular order
    Classification : It is classified as a mutable datatpes
        how to difine the list ..............? []

In [6]:
students = ['vintho','ramya','ayesha','sara','david','naveen','ahmed']

In [7]:
print(students)

['vintho', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed']

In [8]:
type(students)

list

In [ ]:
intuduction to the indexing : 0,1,2,3,4,5,6.............

In [10]:
# i want to access ramya name on the output......?

In [11]:
print(students[1])

ramya

In [12]:
print(students[1].title())

Ramya

In [ ]:
sara name on the output

In [14]:
print(students[3].title())

Sara

In [15]:
print(students)

['vintho', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed']

In [ ]:
# req : I want to add kunal in above list....?

In [18]:
students.append('kunal')

In [19]:
print(students)

['vintho', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [ ]:
I want to add kalyani

In [20]:
students.append('kalyani')

In [21]:
print(students)

['vintho', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [22]:
y = students.pop(1)

In [23]:
print(students)

['vintho', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [24]:
print(y)

ramya

In [ ]:
I want to delete vani

In [29]:
del students[0]

In [30]:
print(students)

['ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']